* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-family: sans-serif;
  background: #ffcc0b;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}
.navbar {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  
}
.logo i {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  color: white;
}
.menu {
  display: flex;
  gap: 3rem;
  align-items: center;
  cursor: pointer;
}
.menu p {
  text-transform: uppercase;
  display: inline-block;
  font-size: small;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6rem;
  gap: 2rem;
}
button {
  width: 8rem;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  color: white;
  background: #f95f3f;
  cursor: pointer;
  transition: all .5s ease;

}
.btn-white {
  background: transparent;
  border: 1px solid;
}
.btn-white:hover {
  background: rgba(0, 0, 0, 0.212);
}
button:hover {
  background-color: coral;
  color: white;
}
button:active {
  background-color: rgba(0, 0, 0, 0.274);
}
.btn-white:active {
  background-color: rgba(0, 0, 0, 0.274);
}

h2 {
  font-family: "Roboto Mono", monospace;
 
}
h2, p{
    color: rgb(36, 36, 36);

}
.menu p:hover{
    border-bottom:1px solid white;
}